# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\日常\三阶段\mybatis-first\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
